.show{
    display: inline !important;
}

article{
    width: 100vw;
    background: #C0D3EE;
}

.banner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 385px;    
    
    background: #C0D3EE;
    margin: 0 10% 3em 10%;
    padding: 2em 0;
}

.banner > * {
    margin: 1em;
}

.text-popular{
    font-size: calc(1.2rem + 10 * (100vw / 1280));
    color: white;
    -webkit-text-stroke: 1px #124AA7;
}

.text-banner{
    transition: 1000ms;
    /*margin-right: 3em;*/
}

.text-banner h1{
    color: white;
    -webkit-text-stroke: 1px #124AA7;
    text-shadow: -5px 0px 1px #1961D8;

    text-align: right;
    font-size: calc(1.5rem + 16 * (100vw / 1280));
    line-height: 1.7;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 5px;
    transition: 500ms;
}

.text-banner:hover h1{
    text-shadow: -10px 0px 1px #1961D8, 
    -8px 0px #1961D8,
    -6px 0px #1961D8;


    transform: scale(1.1);
    transition: 500ms;
}

.sliders{
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.sliders::-webkit-scrollbar{
    display: none;
}

/* .box-slider.active-slide{
    display: flex;
    flex-direction: row;
    opacity: 1;
    animation: next-slide 0.65s 0.085s;
    transition: all 0.5s ease;
} */

.box-slider{
    padding: 15px 20px;
    margin-right: 5px; 
    height: 90%;
    min-width: 70%;

    box-shadow: 2px 2px 0 #124AA7, 4px 4px 0 #1961D8;
    border-radius: 5px;
    background: #fff;

    object-fit: cover;

    display: flex;
    justify-content: space-between;

    transition: all 0.5s ease;
    font-weight: 600;
    /* animation: prev-slide 0.65s 0.085s; */
}

.box-slider:not(:last-child){
    margin-right: 15px!important;
}

.body-slider{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    height: 200px;
    text-align: center;
    margin: 0 auto;

    overflow: hidden;
    vertical-align: middle;
    transition: transform 0.5s ease-in-out;
}

.box-slider .text{
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-slider .img-slider{
    height: 5em;
    width: 3em;
    align-self: center;
    margin-left: 1rem;
}

.text-slider{
    font-size: calc(1rem + 6 * (100vw / 1280));
    margin-top: 0.7em;
}

.mini-text-slider{
    font-size: calc(0.7rem + 5 * (100vw / 1280));
    opacity: 0.5;
}

.prev-button,
.next-button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: calc(1rem + 10 * (100vw / 1280));
    color: #124AA7;
    cursor: pointer;
    transform: rotate(270deg);
}

.prev-button img,
.next-button img{
    -webkit-filter: drop-shadow(0 5px 5px #222);
    filter: drop-shadow(0 5px 5px #222);
    width: 30px;
    height: 30px;
}


.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

/**/

/*.text-banner span{
    color: #7B8696;
    text-shadow: -1px -1px 1px #777;
    transition: 0.25ms;
}

.text-banner:hover span{
    color: #AFC3E4;
    text-shadow: 0 0 2px #AFC3E4,
    0 0 4px #AFC3E4, 0 0 6px #AFC3E4;

}*/

.container{
    max-width: 75vw;
    margin: 0 auto;
}

.container .grid-box{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,  minmax(256px, 1fr));
    grid-gap: 2em;
}

.container .grid-box > .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 280px;
    max-width: 400px;
    padding: 1em;
    overflow: hidden;

    border-radius: 5px;
    border: 1px solid #1961D8;
    background: #FFF;
    box-shadow: 2px 2px 0 #124AA7, 4px 4px 0 #1961D8;
    transition: 300m;
    transition: all 1s;
}

.container .grid-box >.box:hover{
    box-shadow: 4px 4px 0 #124AA7, 8px 8px 0 #1961D8;
    transition: 300m;
}

.container .grid-box > .box:hover{
    background: rgba(19, 61, 138, 0.3);
    backdrop-filter: blur(20px);
    transform: scale(1.05);
    transition: all 1s;
}

.box .description-test{
    font-size: calc(0.8rem + 5 * (100vw / 1280));
}

.btn-check-test{
    margin: auto;
    opacity: 0;
    transition: all 1s;
}

.btn-check-test > a{
    padding: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    font-size: calc(0.7rem + 14 * (100vw / 1280));
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.box:hover .btn-check-test{
    opacity: 1;
    transition: all 1s;
    transition-delay: 300ms;
}

.description-test{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-test{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box:hover .description-test, .box:hover .title-test{
    opacity: 0.5;
    color: transparent;
    text-shadow: 0 0 2px rgb(0,0,0);
}

.body-info-test{
    position: relative;
    display: none;
    opacity: 0;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100vw;
    min-width: 385px;    
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.active-info-test{
    display: flex;
    opacity: 1;
    transition: all 600ms;
}

.content-info-test{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.content-info-test p{
    padding: 30px 10px 0 10px;
}

.title-info-test{
    font-size: calc(1.6rem + 16 * (100vw / 1280));
    align-self: center;
}

.title-info-test .age-metka{
    padding: 5px 8px;
    margin: 5px;
    border: 1px solid #AFC3E4;
    border-radius: 20%;
    background: rgba(175, 195, 228, 0.3);
}

.close-info-test, .start-test{
    cursor: pointer;
}

.start-test{
    margin: 1em 0 5px 0;
    font-size: calc(1.6rem + 6 * (100vw / 1280));
    align-self: center;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #1961D8;
    background-color: rgba(25, 97, 216, 0.2);
}

.start-test:hover{
    background-color: rgba(25, 97, 216, 0.5);
}


.close-info-test{
    font-size: calc(1.2rem + 6 * (100vw / 1280));
    align-self: flex-end;
}

.gray{
    color: gray;
}

.btn-filter{
    background-color: white;
    border: 1px solid #1961D8;
    border-radius: 5px;
    padding: 0.5em;
    margin: 10px;
    transition: all 300ms;
}

#sbros{
    display: none;
}

.btn-filter:hover{
    background-color: #1962d872;
    transition: all 300ms;
}

.non-tests{
    margin: 80px auto;
    color: dimgray;
    size: 2em;
}



/*не для мобильных*/
@media screen and (min-width: 550px) {

    .body-slider{
        width: 500px;
    }
    
    /* .prev-button,
    .next-button {
        right: 15px;
    } */
    
    .content-info-test{
        max-width: 50%;
        margin: auto;
    }

    
    
    
    }